@model HogwartsHouses.Models.Room

@{
    Layout = null;
}

<html>
<head>
    @Html.Partial("~/Shared/_Header.cshtml")
</head>
<body>
 @Html.Partial("~/Shared/_BodyForListingPages.cshtml")
</body>
</html>