@model HogwartsHouses.Models.Room

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Html.Partial("~/Shared/_Header.cshtml")
</head>
<body>
<style>
    body {background-color: #721c24; vertical-align: center}
    table    {color: antiquewhite; font-size: large; align-self: center; font-family: Arial,serif; }
</style>
<div>
    @using (Html.BeginForm("GetRoom", "Room", FormMethod.Post))
    {
        <table>
            <tr>
                <td>Which room are you looking for? : </td>
                <td>@Html.TextBoxFor(room => room.Id)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit"/>
                </td>
            </tr>
        </table>
    }
</div>
</body>
</html>