@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Html.Partial("~/Shared/_Header.cshtml")
</head>
<body>
@Html.Partial("~/Shared/_BodyForOneItemPages.cshtml")
</body>
</html>