@model dynamic

@{
    Layout = null;
}
<html>
<head>
    @Html.Partial("~/Shared/_Header.cshtml")
</head>
<body>
<style>
    body {background-color: #721c24; vertical-align: center}
    h2 {color: antiquewhite; font-size: xx-large; align-self: center; }
    p    {color: antiquewhite; font-size: large; align-self: center; }
</style>  
<h2>Wrong, or missing details!</h2>
</body>
</html>