<div class="listerBody">
<style>
  body {background-color: #721c24; vertical-align: center}
     h2 {color: antiquewhite; font-size: xx-large; align-self: center; }
     p    {color: antiquewhite; font-size: large; align-self: center; }
</style>
<div style="list-style-type:none; padding: 7%; line-height: 300%;">
    <p style="color: #95999c;font-size:30px">@ViewData["result"]</p>
</div>
</div>